<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="__STATIC__/css/bootstrap3.3.6.min.css" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/css/common.css?t=1">
<link rel="stylesheet" href="__STATIC__/css/index.css">
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<style>
    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
        display: none;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
</style>
<body class="english-dictionary">
<div class="page-top">
    <div class="top-user-bar">
        {if $usr_id}
        <div class="pull-right log-not">
            <span class="new-words">生词本</span>
            <span class="seperator">|</span>
            <a href="{:url('Reception/do_logout')}">退出</a>
        </div>
        {else}
        <div class="pull-right log-not">
            <a href="{:url('Reception/login')}" target="_blank">登录</a>
            <span class="seperator">|</span>
            <a href="{:url('Reception/register')}">注册</a>
        </div>
        {/if}
    </div>
</div>
<div class="minHeight600 container">
    <div class="translate-wrap">
        <div class="row text-center">
        <div class="col-md-3">
            <input type="text" class="form-control text-center" parsley-trigger="change" required="" name="english_name" data-parsley-id="6" value="英语" readonly="readonly">
        </div>
        <div class="col-md-1">
            <span class="exchange-mask" style="background-position: -202px center;"></span>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control text-center" parsley-trigger="change" required="" name="chinese_name" data-parsley-id="6" value="中文" readonly="readonly">
        </div>
        <div class="col-md-1">
            <span class="btn btn-default btn-sm" >翻 译</span>
        </div>
        </div>
    </div>
    <div class="">
        <div class="row">
           <div class="col-md-6 input-wrap">
               <a href="###" class="textarea-clear-btn" title="清空" ></a>

               <textarea class="textarea" id="baidu_translate_input" data-height="70" style="height: 70px; overflow: hidden;"></textarea>
           </div>
           <div class="col-md-6">
               <div class="output-wrap output-blank" style="height: 137px;"></div>
           </div>
        </div>
    </div>
</div>
<div class="mask">
    <div class="pop-wrapper">
        <div class="background-img pop-bg pop-bg-large" style="background-image: url(http://cdn.66173.cn/mobile/css/img/dsgl/pop_bg_large.png)">
            <a class="close-pop"></a>
            <div class="pop-title">我的生词本</div>
            <div class="con">
                <div class="has-my-gifts">
                    <ul class="my-gifts-list"></ul>
                    <div class="btn-zone">
                        <img class="bt-btn exchange-way-btn" src="http://cdn.66173.cn/mobile/css/img/dsgl/exchange_way_btn.png"/>
                    </div>
                </div>
                <div class="common-width rules-tip">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brief-tip-pop"><div class="con"></div></div>
<input type="hidden" name="user_id" id="user_id" value="{$usr_id}"/>
</body>
<script src="__STATIC__/js/bootstrap3.3.6.min.js"></script>
<script>
    var userId = $("#user_id").val();
    $(".exchange-mask").click(function (){
        var english = $("input[name='english_name']").val();
        var chinese = $("input[name='chinese_name']").val();
        $("input[name='english_name']").val(chinese);
        $("input[name='chinese_name']").val(english);
    });
    $('.english-dictionary').on('click','.new-words',function(e){
        if(!userId){
            briefTipControl("请先登录");
        }else{
            $.ajax({
                url: "{:url('Reception/new_words')}",
                type: "post",
                data:{user_id:userId,pagehash:hash},
                dataType: "json"
            }).success(function(res) {

            })
        }
    });

    // 点击关闭弹窗
    $(".close-pop").on("click", function() {
        $(".english-dictionary .mask").hide();
    })

    // 简单提示控制
    function briefTipControl(text) {
        $(".brief-tip-pop .con").html(text);
        $(".brief-tip-pop").fadeIn(500).delay(1000).fadeOut(500);
    }
</script>
</html>