<!doctype html>
<html lang="en">
<head>
    <title>登录</title>
    <link href="__CSS__/bootstrap3.3.6.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/account.css">
    <script src="__STATIC__/assets/js/jquery.min.js"></script>
</head>
<body class="footer-fix-control-page login-page">
    <input type="hidden" value="" id="loginCount"/>
    <div class="top-banner">
        <img src="__STATIC__/img/login_bg.jpg" alt="">
        <div class="container main-container">
            <div class="login-box">
                <div class="common-box-top top">
                    <div class="font-lg title">登录</div>
                    <a class="font-md pull-right link-register" href="{:url('Reception/register')}" target="_blank">快速注册</a>
                </div>
                <form class="account-form login-form" id="myForm">
                    <div class="line">
                        <div class="input-wrapper account-wrapper"><img src="__STATIC__/img/icon_account.png" alt=""/><input type="text" class="font-md common-input" name="account" id="account" placeholder="请输入您的账号"/></div>
                        <label for="account" class="font-sm msg-label error"></label>
                    </div>
                    <div class="line">
                        <div class="input-wrapper password-wrapper"><img src="__STATIC__/img/icon_psw.png" alt=""/><input type="password" class="font-md common-input" name="password" id="password" placeholder="请输入您的密码"/></div>
                        <label for="password" class="font-sm msg-label error"></label>
                    </div>
                    <span class="font-lg account-submit go-login go-login-can">登录</span>
                </form>
            </div>
        </div>
    </div>

</body>
<script src="__JS__/bootstrap3.3.6.min.js"></script>
<script>
    var goLoginTimeout; //登录定时
    var $label_account = $("label[for=account]");
    var $label_password = $("label[for=password]");
    var regPasswordLoose = new RegExp(/^.{6,18}$/);
    var formMsgTip = {
        passwordLoose: {required: "请输入密码", error: "请输入6-18位的密码"},
        account: {required: "请输入您的账号", error: ""},

    };
    $("body").on("click", ".go-login-can", function(e) {
        var account = $("input[name=account]").val();
        var password = $("input[name=password]").val();
        var pass = true;
        if(!account) {
            pass = false;
            $label_account.html(!account ? formMsgTip.account.required:formMsgTip.account.error);
        }
        if(!password || !regPasswordLoose.test(password)) {
            pass = false;
            $label_password.html(!password ? formMsgTip.passwordLoose.required:formMsgTip.passwordLoose.error);
        }
        if(!pass) {
            return false;
        } else {
            btnTimeOutControl(".go-login", "go-login-can", goLoginTimeout);
            var sendData = {
                mobile: account,
                password: password
            };
            $.ajax({
                url: "{:url('Reception/do_login')}",
                type: "post",
                dataType: "json",
                data: sendData
            }).success(function(res) {
                if(res.code == 0){
                    briefTipControl(res.msg);
                    return false;
                }else if(res.code == 1){
                    briefTipControl(res.msg);
                    window.location.href = "{:url('Reception/index')}";
                }

//                var type = data.type;
//                var msg = data.msg;
//                if(data.code == 1){
//                    window.location.href = "{:url('Reception/index')}";
//                }
//                if(type == 1) {
//                    $label_account.html(msg);
//                } else if(type == 2) {
//                    $label_password.html(msg);
//                }else {
//                    briefTipControl(msg);
//                }
            })
        }
    })
</script>
</html>